@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans'; 
    color: #2f3545; 
}

h1 {
    margin: 0; 
    font-weight: 600; 
}

.full-page {
    width: 100vw;
    height: 100vh; 
}

.top-title {
    padding: 40px; 
}

.main {
    padding: 0px 40px; 
    display: flex; 
}

.main-left_color {
    background-image: linear-gradient(to right, #FFC0CB , #ffc);
    height: 500px;
    width: 500px; 
    border-radius: 10px;
}

.main-right_buttons {
    margin-left: 40px; 
    width: 100%; 
}

.main-right_hexcode {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline;
    color: #53626b;
}

.colorInputText {
    outline: none;
    padding: 10px 5px; 
    border-radius: 5px; 
}

#colorInputTextOne {
    border: 2px solid #FFC0CB; 
}

#colorInputTextTwo {
    border: 2px solid #ffc; 
}

.random-btn {
    background: none; 
    border: none; 
    position: relative;
    display: inline-block;
}

.random-btn:hover {
    color: #ff7473;
    cursor: pointer;
    border: none; 
    outline: none; 
}

.random-btn:focus {
    outline: none; 
}

.tooltiptext {
    visibility: hidden; 
    width: 100px;
    background-color: #2f3545; 
    font-size: 12px; 
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    font-family: 'Open Sans'; 
    top: 100%;
    left: 50%;
    margin-left: -50px;
    margin-top: 18px; 
    font-weight: 600; 
}

.random-btn:hover .tooltiptext {
    visibility: visible;
}

.random-btn .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2f3545 transparent;
}

.main-right_directions {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-top: 40px; 
}

.direction-btn {
    background: none; 
    border: 2px solid #ccd6e4;
    border-radius: 5px; 
    color: #ccd6e4; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    width: 45%; 
    margin-top: 20px;
    font-size: 16px; 
    outline: none; 
}

.text-btn {
    color: #58676f; 
    margin-top: 5px; 
}

.active {
    color: #ff7473;
    border: 2px solid #ff7473; 
}

.active .text-btn {
    color: #ff7473;
}

.direction-btn:hover {
    cursor: pointer;
    color: #ff7473;
    border: 2px solid #ff7473; 
}

.direction-btn:hover .text-btn {
    color: #ff7473;
}