body {
    margin: 0; 
    background: #f4f4f8; 
}

.main {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
}

.main_background {
    margin-top: 50px; 
    background: #fff;
    width: 500px;
    height: 500px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_clock {
    background: #c91b15;
    width: 440px; 
    height: 440px;
    border-radius: 50%;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside_clock {
    width: 410px; 
    height: 410px;
    border: 2px solid #d73e43; 
    border-radius: 50%; 
    position: relative;
}

.element {
    width: 15px;
    height: 15px;
    background: #f3eff0; 
    border-radius: 50%; 
    position: absolute; 
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0; 
    margin: auto; 
}

.center {
    width: 20px;
    height: 20px; 
}

.deg0 { transform: translate(12em); } 
.deg30 { transform: rotate(30deg) translate(12em) rotate(-30deg); }
.deg60 { transform: rotate(60deg) translate(12em) rotate(-60deg); }
.deg90 { transform: rotate(90deg) translate(12em) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(12em) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(12em) rotate(-150deg); }
.deg180 { transform: rotate(180deg) translate(12em) rotate(-180deg); }
.deg210 { transform: rotate(210deg) translate(12em) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(12em) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg300 { transform: rotate(300deg) translate(12em) rotate(-300deg); }
.deg330 { transform: rotate(330deg) translate(12em) rotate(-330deg); }

.hour_hand {
    height: 12px; 
    width: 90px; 
    background: #f3eff0; 
    position: absolute; 
    top: 0;
    left: 90px; 
    right: 0;
    bottom: 0; 
    margin: auto; 
    transform-origin: center left;
}

.minute_hand {
    height: 8px; 
    width: 120px; 
    background: #f3eff0; 
    position: absolute; 
    top: 0;
    left: 120px; 
    right: 0;
    bottom: 0; 
    margin: auto; 
    transform-origin: center left;
}

.second_hand {
    height: 4px; 
    width: 150px; 
    background: #f3eff0; 
    position: absolute; 
    top: 0;
    left: 150px; 
    right: 0;
    bottom: 0; 
    margin: auto; 
    transform-origin: center left;
}