@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans JP';
    background: #fafafc; 
    color: #332c49; 
}

.title {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 40px; 
}

h1 {
    margin: 0;
    font-weight: 500; 
    font-size: 32px; 
}

.title_text_date {
    display: flex; 
    align-items: center;
}

h2 {
    color: #f4b75e;
    margin: 0; 
    font-weight: 400;
    font-size: 30px;  
    margin-right: 20px; 
}

.title_text_date_btn {
    color: #403955; 
    background-color: #eceff2; 
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px; 
    cursor: pointer; 
    outline: none; 
    font-size: 12px; 
    margin-left: 15px; 
}

.title_button_plus {
    width: 66px;
    height: 70px;
    background-color: #f8d57e; 
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: none; 
    outline: none;
    cursor: pointer; 
    color: #fff; 
    font-size: 20px; 
}

.add-task {
    padding: 20px 40px; 
    border-radius: 10px; 
    background-color: #fff;
    width: 400px; 
    margin-left: 40px; 
}

.add-task_title {
    font-weight: 600; 
}

.add-task_form {
    display: flex; 
    align-items: baseline;
}

.add-task_form_input {
    flex-grow: 1;  
    height: 20px; 
    border: none; 
    font-family: 'Noto Sans JP';
}

.add-task_form_input:focus {
    outline: none; 
}

.add-task_form_btn {
    background-color: #f8d57e; 
    color: #fff;
    border: none; 
    font-weight: 600; 
    border-radius: 10px; 
    padding: 5px 10px; 
    cursor: pointer;
    outline: none;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    width: 46px;
    height: 50px;
}